/* Pywal Generated Colors */
@define-color background #1c1a1f;
@define-color foreground #c6c5c7;
@define-color cursor #c6c5c7;

@define-color color0 #1c1a1f;
@define-color color1 #7053AC;
@define-color color2 #9766A7;
@define-color color3 #A370BC;
@define-color color4 #7291BD;
@define-color color5 #D39EA7;
@define-color color6 #AB93D4;
@define-color color7 #c6c5c7;
@define-color color8 #676076;
@define-color color9 #7053AC;
@define-color color10 #9766A7;
@define-color color11 #A370BC;
@define-color color12 #7291BD;
@define-color color13 #D39EA7;
@define-color color14 #AB93D4;
@define-color color15 #c6c5c7;

/* Semantic names */
@define-color surface #1c1a1f;
@define-color surface_dim #676076;
@define-color surface_bright #c6c5c7;
@define-color primary #7291BD;
@define-color on_primary #1c1a1f;
@define-color secondary #D39EA7;
@define-color tertiary #AB93D4;
@define-color error #7053AC;
@define-color on_error #1c1a1f;
@define-color warning #A370BC;
@define-color success #9766A7;