/* Pywal Generated Colors */
@define-color background #1b0b11;
@define-color foreground #c6c2c3;
@define-color cursor #c6c2c3;

@define-color color0 #1b0b11;
@define-color color1 #94252A;
@define-color color2 #92636A;
@define-color color3 #76718B;
@define-color color4 #917B8C;
@define-color color5 #95919F;
@define-color color6 #BCB6C5;
@define-color color7 #c6c2c3;
@define-color color8 #6f5a62;
@define-color color9 #94252A;
@define-color color10 #92636A;
@define-color color11 #76718B;
@define-color color12 #917B8C;
@define-color color13 #95919F;
@define-color color14 #BCB6C5;
@define-color color15 #c6c2c3;

/* Semantic names */
@define-color surface #1b0b11;
@define-color surface_dim #6f5a62;
@define-color surface_bright #c6c2c3;
@define-color primary #917B8C;
@define-color on_primary #1b0b11;
@define-color secondary #95919F;
@define-color tertiary #BCB6C5;
@define-color error #94252A;
@define-color on_error #1b0b11;
@define-color warning #76718B;
@define-color success #92636A;