/* Pywal GTK Colors */
@define-color theme_bg_color {background};
@define-color theme_fg_color {foreground};
@define-color theme_base_color {color0};
@define-color theme_text_color {foreground};
@define-color theme_selected_bg_color {color4};
@define-color theme_selected_fg_color {background};
@define-color insensitive_bg_color {color8};
@define-color insensitive_fg_color {color7};
@define-color insensitive_base_color {color0};
@define-color theme_unfocused_bg_color {background};
@define-color theme_unfocused_fg_color {foreground};
@define-color theme_unfocused_base_color {color0};
@define-color theme_unfocused_text_color {foreground};
@define-color theme_unfocused_selected_bg_color {color4};
@define-color theme_unfocused_selected_fg_color {background};
@define-color borders {color8};
@define-color unfocused_borders {color0};

@define-color warning_color {color3};
@define-color error_color {color1};
@define-color success_color {color2};